ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
  skip:
  - uv-lock

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
    exclude: |
      (?x)^(
        \.vscode/.*\.json
      )$
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.0
  hooks:
  - id: check-dependabot
  - id: check-github-workflows
  - id: check-meltano

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.13
  hooks:
  - id: ruff-check
    args: [--diff]
  - id: ruff-format
    args: [--diff]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.0
  hooks:
  - id: mypy
    additional_dependencies:
    {%- if cookiecutter.stream_type == "SQL" %}
    - sqlalchemy-stubs
    {%- else %}
    - types-requests
    {%- endif %}

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.7.12
  hooks:
  - id: uv-lock
  - id: uv-sync
