# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# Default owners
* @edgarrmondragon @cjohnhanson @aaronsteers

# CI/CD
/.github/workflows/ @edgarrmondragon @meltano/engineering

# Docs (General)
/docs/ @meltano/engineering @meltano/marketing
/README.md @afolson @tayloramurphy @meltano/engineering @meltano/marketing

# Docs (Contributing)
/docs/CONTRIBUTING.md @afolson @tayloramurphy @meltano/engineering

# Release Ops (see `/.pyproject.toml` for list of bumped files)
/cookiecutter/tap-template/{{cookiecutter.tap_id}}/pyproject.toml @meltano/engineering
/cookiecutter/target-template/{{cookiecutter.target_id}}/pyproject.toml @meltano/engineering
/docs/conf.py @meltano/engineering
/pyproject.toml @meltano/engineering
