version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: weekly
    labels: [Dependencies]
    groups:
      development-dependencies:
        dependency-type: development
      runtime-dependencies:
        dependency-type: production
    versioning-strategy: lockfile-only
    cooldown:
      default-days: 7
    allow:
      - dependency-type: "all"
  - package-ecosystem: pip
    directory: "/.github/workflows/resources"
    schedule:
      interval: weekly
    labels: [Dependencies]
    groups:
      ci:
        patterns:
          - "*"
    cooldown:
      default-days: 7
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    labels: [Dependencies]
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
