### A CI workflow template that runs linting and python testing
### TODO: Modify as needed or as desired.

name: Test {{cookiecutter.tap_id}}

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - {{ cookiecutter.library_name }}/**
    - tests/**
    - pyproject.toml
    - uv.lock
  pull_request:
    paths:
    - .github/workflows/test.yml
    - {{ cookiecutter.library_name }}/**
    - tests/**
    - pyproject.toml
    - uv.lock
  workflow_dispatch:

concurrency:
  group: {{ '${{ github.workflow }}-${{ github.head_ref || github.run_id }}' }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    name: Integration Tests / Python {{ '${{ matrix.python-version }}' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Python {{ '${{ matrix.python-version }}' }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: {{ '${{ matrix.python-version }}' }}
    - name: Setup uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
    - name: Run Tox
      run: |
        uvx --with=tox-uv tox -e {{ '${{ matrix.python-version }}' }}

  typing:
    name: Type Checking
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.x
    - name: Setup uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ">=0.8"
    - name: Run Tox
      run: |
        uvx --with=tox-uv tox -e typing
