[flake8]
max-line-length = 88
exclude = cookiecutter
ignore = E
per-file-ignores =
    # Don't require docstrings conventions in private modules
    singer_sdk/helpers/_*.py:DAR
    # Disabled some checks in samples code
    samples/*:DAR
docstring-convention = google
