stages:
  - test
  - publish

default:
  before_script:
    - python -V
    - python -m pip install pipx
    - python -m pipx ensurepath
    - python -m pipx install poetry
    # Force update PATH to include pipx executables
    - export PATH=$PATH:/root/.local/bin
    - poetry install --no-root

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

build_and_test:
  stage: test
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.6", "3.7", "3.8"]
  image: python:${PYTHON_VERSION}
  script:
    - |
      if [[ "$CI_PROJECT_NAMESPACE" == "meltano" ]]
      then
        echo "Run full test suite using 'py${PYTHON_VERSION//./}' tox env config..."
        poetry run tox -e py
      else
        echo "Run 'core' and 'cookiecutter' python test suites..."
        poetry run pytest singer_sdk/tests/core
        poetry run pytest singer_sdk/tests/cookiecutters
      fi

lint:
  stage: test
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.8"]
  image: python:${PYTHON_VERSION}
  script:
    - poetry run tox -e lint

pypi_publish:
  release:
    name: '$CI_COMMIT_TAG'
    tag_name: '$CI_COMMIT_TAG'
    description: '$CI_COMMIT_TAG'
  only:
    - tags
  stage: publish
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.8"]
  image: python:${PYTHON_VERSION}
  script:
    - |
      echo "Publishing tag '$CI_COMMIT_TAG' to PyPi, Ref='$CI_COMMIT_REF_NAME' and Namespace='$CI_PROJECT_NAMESPACE'..."
      echo "Detected poetry version: v$(poetry version --short)"
      if [[ "$CI_COMMIT_TAG" == "v$(poetry version --short)" ]];
      then
        echo -e "\nPublishing to version ref 'v$(poetry version --short)'...\n\n"
        poetry publish --build
      else
        echo -e "\nERROR - Tag '$CI_COMMIT_TAG' did not match detected version 'v$(poetry version --short)'."
        exit 1
      fi

pypi_prerelease:
  when: manual
  except:
    - tags
  stage: publish
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.8"]
  image: python:${PYTHON_VERSION}
  script:
    - |
      echo "Publishing to PyPi, Ref='$CI_COMMIT_REF_NAME' and Namespace='$CI_PROJECT_NAMESPACE'..."
      poetry version $(poetry version --short)-dev.$CI_JOB_ID
      poetry version --short
      echo -e "\nPublishing to version ref '$(poetry version --short)'...\n\n"
      poetry publish --build
