# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
.parallel:python_version:
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.6", "3.7", "3.8"]

image: python:$PYTHON_VERSION

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V # Print out python version for debugging
  - pip install pipx
  - export PATH=$PATH:/root/.local/bin
  - pipx install poetry
  - pipx install tox
  - poetry install

test:
  script:
    - poetry run pytest
