ci:
  autofix_prs: true
  autoupdate_schedule: monthly
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
  skip:
  - uv-lock
  - check-dependabot

default_language_version:
  python: python3.13

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-json
    exclude: |
        (?x)^(
            .*/launch.json
        )$
  - id: check-toml
    exclude: |
        (?x)^(
            cookiecutter/.*/pyproject.toml
        )$
  - id: check-yaml
    exclude: |
        (?x)^(
            cookiecutter/.*/meltano.yml|
            cookiecutter/.*/.pre-commit-config.yaml|
            cookiecutter/.*/dependabot.yml|
            cookiecutter/.*/build.yml|
            cookiecutter/.*/test.yml
        )$
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        cookiecutter/.*|
        docs/.*|
        tests/.*snapshots/.*
      )$
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.35.0
  hooks:
  - id: check-codecov
  # TODO: Restore built-in check when https://github.com/SchemaStore/schemastore/pull/5167 ships into check-jsonschema
  # - id: check-dependabot
  - id: check-jsonschema
    alias: check-dependabot
    name: validate Dependabot configuration
    files: ^.github/dependabot\.yml$
    args: ["--schemafile", "https://json.schemastore.org/dependabot-2.0.json"]
  - id: check-github-issue-config
  - id: check-github-issue-forms
  - id: check-github-workflows
  - id: check-readthedocs

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
  - id: ruff-check
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    exclude: |
      (?x)^(
        cookiecutter/.*
      )$
  - id: ruff-format
    exclude: |
      (?x)^(
        cookiecutter/.*
      )$

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.11
  hooks:
  - id: uv-lock
  - id: uv-sync

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    exclude: |
      (?x)^(
        packages/.*\.json|
      )$

- repo: https://github.com/executablebooks/mdformat
  rev: 1.0.0
  hooks:
  - id: mdformat
    exclude: tests/snapshots/about_format/markdown\.snap\.md
    args: [--strict-front-matter]
    additional_dependencies:
    - mdformat-front-matters
