ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
    exclude: |
        (?x)^(
            .*/launch.json
        )$
  - id: check-toml
    exclude: |
        (?x)^(
            cookiecutter/.*/pyproject.toml
        )$
  - id: check-yaml
    exclude: |
        (?x)^(
            cookiecutter/.*/meltano.yml|
            cookiecutter/.*/.pre-commit-config.yaml|
            cookiecutter/.*/dependabot.yml|
            cookiecutter/.*/build.yml|
            cookiecutter/.*/test.yml
        )$
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        cookiecutter/.*|
        docs/.*|
        samples/.*\.json|
        tests/snapshots/.*
      )$
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.30.0
  hooks:
  - id: check-dependabot
  - id: check-github-workflows
  - id: check-readthedocs

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    exclude: |
      (?x)^(
        cookiecutter/.*
      )$
  - id: ruff-format
    exclude: |
      (?x)^(
        cookiecutter/.*
      )$

- repo: https://github.com/python-poetry/poetry
  rev: 2.0.0
  hooks:
  - id: poetry-check
