ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
    exclude: |
        (?x)^(
            .*/launch.json
        )$
  - id: check-toml
    exclude: |
        (?x)^(
            cookiecutter/.*/pyproject.toml
        )$
  - id: check-yaml
    exclude: |
        (?x)^(
            cookiecutter/.*/meltano.yml|
            cookiecutter/.*/.pre-commit-config.yaml|
            cookiecutter/.*/dependabot.yml|
            cookiecutter/.*/test.yml
        )$
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        cookiecutter/.*|
        docs/.*|
        samples/.*\.json|
        tests/snapshots/.*
      )$
  - id: trailing-whitespace
    exclude: |
        (?x)^(
            .bumpversion.cfg|
            singer_sdk/helpers/_simpleeval.py|
            tests/core/test_simpleeval.py
        )$

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.2
  hooks:
  - id: check-dependabot
  - id: check-github-workflows
  - id: check-readthedocs

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.3
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    exclude: |
      (?x)^(
        cookiecutter/.*
      )$
  - id: ruff-format
    exclude: |
      (?x)^(
        cookiecutter/.*
      )$

- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - darglint==1.8.1
    files: |
        (?x)^(
          singer_sdk/.*|
          samples/.*
        )$

- repo: https://github.com/python-poetry/poetry
  rev: 1.8.0
  hooks:
  - id: poetry-check
