ci:
  autofix_prs: true
  autoupdate_schedule: weekly
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
  skip: [poetry-lock]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-json
  - id: check-toml
    exclude: |
        (?x)^(
            cookiecutter/.*/pyproject.toml
        )$
  - id: check-yaml
    exclude: |
        (?x)^(
            cookiecutter/.*/meltano.yml
        )$
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        cookiecutter/.*|
        docs/.*|
        samples/.*\.json|
        tests/snapshots/.*/.*\.json
      )$
  - id: trailing-whitespace
    exclude: |
        (?x)^(
            .bumpversion.cfg|
            singer_sdk/helpers/_simpleeval.py|
            tests/core/test_simpleeval.py
        )$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    exclude: |
        (?x)^(
            cookiecutter/.*|
            singer_sdk/helpers/_simpleeval.py|
            tests/core/test_simpleeval.py
        )$

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    exclude: (cookiecutter/.*|singer_sdk/helpers/_simpleeval/.*)

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - darglint==1.8.1
    - flake8-annotations==2.9.0
    - flake8-docstrings==1.6.0
    files: |
        (?x)^(
          singer_sdk/.*|
          samples/.*
        )$

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus]
    exclude: |
        (?x)^(
            singer_sdk/helpers/_simpleeval.py|
            tests/core/test_simpleeval.py
        )$

- repo: https://github.com/python-poetry/poetry
  rev: 1.3.0
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args: [--no-update]
