[tool.poetry]
name = "singer-sdk"
version = "0.1.1"
description = "A framework for building Singer taps"
authors = ["Meltano Team and Contributors"]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "<3.9,>=3.6"
pipelinewise-singer-python = "1.2.0"
backoff = "1.8.0"
pendulum = "1.2.0"
click = "^7.1.2"
PyJWT = "1.7.1"
requests = "^2.25.1"
cryptography = "^3.4.6"
importlib-metadata = {version = "*", markers = "python_version < \"3.8\""}

[tool.poetry.dev-dependencies]
# snowflake-connector-python = "2.0.4" # Removed: Too many version conflicts!
pytest = "^6.1.2"
black = {version = "^20.8b1", allow-prereleases = true}
mypy = "^0.812"
cookiecutter = "^1.7.2"
PyYAML = "^5.4.1"
pydocstyle = "^5.1.1"
flake8 = "^3.9.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
plugin-base = 'singer_sdk.plugin_base:PluginBase.cli'
# Sample CLI declaration:
# tap-countries = 'singer_sdk.samples.sample_tap_countries.countries_tap:cli'
