[project]
name = "tap-sqlite"
version = "0.1.0"
description = "Singer tap for SQLite, built with the Meltano Singer SDK"
authors = [{ name = "Meltano Team", email = "hello@meltano.com" }]
keywords = [
    "ELT",
    "SQLite",
]
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
license = "Apache-2.0"
requires-python = ">=3.9"
dependencies = [
    "singer-sdk~=0.48.0",
    "sqlalchemy",
]

[project.scripts]
tap-sqlite = 'tap_sqlite:SQLiteTap.cli'

[tool.mypy]
warn_unused_configs = true

[tool.uv.sources]
singer-sdk = { workspace = true }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
