[project]
name = "tap-countries"
version = "0.1.0"
description = "Singer tap for countries.trevorblades.com, built with the Meltano Singer SDK"
authors = [{ name = "Meltano Team", email = "hello@meltano.com" }]
keywords = [
    "ELT",
    "Countries",
    "GraphQL",
]
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
]
license = "Apache-2.0"
requires-python = ">=3.10"
dependencies = [
    "msgspec>=0.19.0",
    "requests-cache~=1.2.1",
    "singer-sdk",
    "typing-extensions>=4.5.0; python_version < '3.12'",
]

[project.scripts]
tap-countries = 'tap_countries.tap:TapCountries.cli'

[tool.mypy]
warn_unused_configs = true

[tool.uv.sources]
singer-sdk = { workspace = true }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
