interactions:
- request:
    body: '{"query": "query { continents { code name } }", "variables": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://countries.trevorblades.com/
  response:
    body:
      string: '{"data": {"continents": [{"code": "AF", "name": "Africa"}, {"code":
        "AN", "name": "Antarctica"}, {"code": "AS", "name": "Asia"}, {"code": "EU",
        "name": "Europe"}, {"code": "NA", "name": "North America"}, {"code": "OC",
        "name": "Oceania"}, {"code": "SA", "name": "South America"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
version: 1
