{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://console.neon.tech/api/v2"
    }
  ],
  "info": {
    "title": "Neon API",
    "description": "The Neon API allows you to access and manage Neon programmatically. You can use the Neon API to manage API keys, projects, branches, compute endpoints, databases, roles, and operations. For information about these features, refer to the [Neon documentation](https://neon.tech/docs/manage/overview/).\n\nYou can run Neon API requests from this API reference using the **Try It** feature. Enter your API key as a **Bearer** token in the **Authorization** section of the page.\n\nYou can create and manage API keys in the Neon Console. See [Manage API keys](https://neon.tech/docs/manage/api-keys/) for instructions.",
    "version": "v2",
    "contact": {
      "email": "support@neon.tech"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "CookieAuth": []
    },
    {
      "TokenCookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Key",
      "description": "These methods allow you to create and manage API keys for your Neon account. For related information, see [Manage API keys](https://neon.tech/docs/manage/api-keys)."
    },
    {
      "name": "Operation",
      "description": "These methods allow you to view operation details for your Neon project. For related information, see [Operations](https://neon.tech/docs/manage/operations)."
    },
    {
      "name": "Project",
      "description": "These methods allow you to create and manage Neon projects. For related information, see [Manage projects](https://neon.tech/docs/manage/projects)."
    },
    {
      "name": "Branch",
      "description": "These methods allow you to create and manage branches in your Neon project. For related information, see [Manage branches](https://neon.tech/docs/manage/branches)."
    },
    {
      "name": "Endpoint",
      "description": "These methods allow you to create and manage compute endpoints in your Neon project. For related information, see [Manage compute endpoints](https://neon.tech/docs/manage/endpoints)."
    },
    {
      "name": "Preview",
      "description": "New API methods that are in a Preview state and may be subject to changes."
    },
    {
      "name": "Region",
      "description": "These methods allow you to inspect Neon regions."
    },
    {
      "name": "Users",
      "description": "These methods allow you to manage your Neon user account."
    },
    {
      "name": "Consumption",
      "description": "These methods allow you to view consumption details for your Neon account."
    },
    {
      "name": "Organizations",
      "description": "These methods allow you to manage your Neon organizations."
    }
  ],
  "paths": {
    "/api_keys": {
      "get": {
        "summary": "Get a list of API keys",
        "description": "Retrieves the API keys for your Neon account.\nThe response does not include API key tokens. A token is only provided when creating an API key.\nAPI keys can also be managed in the Neon Console.\nFor more information, see [Manage API keys](https://neon.tech/docs/manage/api-keys/).\n",
        "tags": [
          "API Key"
        ],
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "Returned the API keys for the Neon account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeysListResponseItem"
                  },
                  "example": [
                    {
                      "id": 165432,
                      "name": "mykey_1",
                      "created_at": "2022-11-15T20:13:35Z",
                      "created_by": {
                        "id": "629982cc-de05-43db-ae16-28f2399c4910",
                        "name": "John Smith",
                        "image": "http://link.to.image"
                      },
                      "last_used_at": "2022-11-15T20:22:51Z",
                      "last_used_from_addr": "192.0.2.255"
                    },
                    {
                      "id": 165433,
                      "name": "mykey_2",
                      "created_at": "2022-11-15T20:12:36Z",
                      "created_by": {
                        "id": "629982cc-de05-43db-ae16-28f2399c4910",
                        "name": "John Smith",
                        "image": "http://link.to.image"
                      },
                      "last_used_at": "2022-11-15T20:15:04Z",
                      "last_used_from_addr": "192.0.2.255"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Create an API key",
        "description": "Creates an API key.\nThe `key_name` is a user-specified name for the key.\nThis method returns an `id` and `key`. The `key` is a randomly generated, 64-bit token required to access the Neon API.\nAPI keys can also be managed in the Neon Console.\nSee [Manage API keys](https://neon.tech/docs/manage/api-keys/).\n",
        "tags": [
          "API Key"
        ],
        "operationId": "createApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              },
              "example": {
                "key_name": "mykey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created an API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                },
                "example": {
                  "id": 165434,
                  "key": "9v1faketcjbl4sn1013keyd43n2a8qlfakeog8yvp40hx16keyjo1bpds4y2dfms3",
                  "name": "mykey",
                  "created_at": "2022-11-15T20:13:35Z",
                  "created_by": "629982cc-de05-43db-ae16-28f2399c4910"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/api_keys/{key_id}": {
      "delete": {
        "summary": "Revoke an API key",
        "description": "Revokes the specified API key.\nAn API key that is no longer needed can be revoked.\nThis action cannot be reversed.\nYou can obtain `key_id` values by listing the API keys for your Neon account.\nAPI keys can also be managed in the Neon Console.\nSee [Manage API keys](https://neon.tech/docs/manage/api-keys/).\n",
        "tags": [
          "API Key"
        ],
        "operationId": "revokeApiKey",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked the specified API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyRevokeResponse"
                },
                "example": {
                  "id": 165435,
                  "name": "mykey",
                  "created_at": "2022-11-15T20:13:35Z",
                  "created_by": "629982cc-de05-43db-ae16-28f2399c4910",
                  "last_used_at": "2022-11-15T20:15:04Z",
                  "last_used_from_addr": "192.0.2.255",
                  "revoked": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/operations/{operation_id}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "operation_id",
          "in": "path",
          "description": "The operation ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Get operation details",
        "description": "Retrieves details for the specified operation.\nAn operation is an action performed on a Neon project resource.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain a `operation_id` by listing operations for the project.\n",
        "tags": [
          "Operation"
        ],
        "operationId": "getProjectOperation",
        "responses": {
          "200": {
            "description": "Returned details for the specified operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                },
                "example": {
                  "operation": {
                    "id": "a07f8772-1877-4da9-a939-3a3ae62d1d8d",
                    "project_id": "floral-king-961888",
                    "branch_id": "br-bitter-sound-247814",
                    "endpoint_id": "ep-dark-snowflake-942567",
                    "action": "create_timeline",
                    "status": "finished",
                    "failures_count": 0,
                    "created_at": "2022-10-04T18:20:17Z",
                    "updated_at": "2022-10-04T18:20:18Z",
                    "total_duration_ms": 100
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "Get a list of projects",
        "description": "Retrieves a list of projects for the Neon account.\nA project is the top-level object in the Neon object hierarchy.\nFor more information, see [Manage projects](https://neon.tech/docs/manage/projects/).\n",
        "tags": [
          "Project"
        ],
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "cursor",
            "description": "Specify the cursor value from the previous response to retrieve the next batch of projects.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Specify a value from 1 to 400 to limit number of projects in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10,
              "maximum": 400
            }
          },
          {
            "name": "search",
            "description": "Search by project `name` or `id`. You can specify partial `name` or `id` values to filter results.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "description": "Search for projects by `org_id`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "$ref": "#/components/parameters/TimeoutParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned a list of projects for the Neon account",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProjectsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ProjectsApplicationsMapResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ProjectsIntegrationsMapResponse"
                    }
                  ]
                },
                "example": {
                  "projects": [
                    {
                      "id": "shiny-wind-028834",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "shiny-wind-028834",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100
                    },
                    {
                      "id": "winter-boat-259881",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "winter-boat-259881",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:52:25Z",
                      "updated_at": "2022-11-23T17:52:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100,
                      "org_id": "org-morning-bread-81040908"
                    }
                  ],
                  "applications": {
                    "winter-boat-259881": [
                      "vercel",
                      "github"
                    ]
                  },
                  "integrations": {
                    "winter-boat-259881": [
                      "vercel",
                      "github"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Create a project",
        "description": "Creates a Neon project.\nA project is the top-level object in the Neon object hierarchy.\nPlan limits define how many projects you can create.\nFor more information, see [Manage projects](https://neon.tech/docs/manage/projects/).\n\nYou can specify a region and Postgres version in the request body.\nNeon currently supports PostgreSQL 14, 15, 16, and 17.\nFor supported regions and `region_id` values, see [Regions](https://neon.tech/docs/introduction/regions/).\n",
        "tags": [
          "Project"
        ],
        "operationId": "createProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              },
              "examples": {
                "required_attributes_only": {
                  "summary": "Required attributes only",
                  "value": {
                    "project": {
                      "name": "myproject"
                    }
                  }
                },
                "commonly_specified_attributes": {
                  "summary": "Commonly-specified attributes",
                  "value": {
                    "project": {
                      "name": "myproject",
                      "region_id": "aws-us-east-2",
                      "pg_version": 15
                    }
                  }
                },
                "with_autoscaling": {
                  "summary": "With autoscaling attributes",
                  "value": {
                    "project": {
                      "name": "myproject",
                      "region_id": "aws-us-east-2",
                      "pg_version": 15,
                      "autoscaling_limit_min_cu": 0.25,
                      "autoscaling_limit_max_cu": 1,
                      "provisioner": "k8s-neonvm"
                    }
                  }
                },
                "with_branch_attributes": {
                  "summary": "With branch attributes",
                  "value": {
                    "project": {
                      "name": "myproject",
                      "region_id": "aws-us-east-2",
                      "pg_version": 15,
                      "branch": {
                        "name": "mybranch",
                        "role_name": "sally",
                        "database_name": "mydb"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreatedProject"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/shared": {
      "get": {
        "summary": "Get a list of shared projects",
        "description": "Retrieves a list of shared projects for the Neon account.\nA project is the top-level object in the Neon object hierarchy.\nFor more information, see [Manage projects](https://neon.tech/docs/manage/projects/).\n",
        "tags": [
          "Project"
        ],
        "operationId": "listSharedProjects",
        "parameters": [
          {
            "name": "cursor",
            "description": "Specify the cursor value from the previous response to get the next batch of projects.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Specify a value from 1 to 400 to limit number of projects in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10,
              "maximum": 400
            }
          },
          {
            "name": "search",
            "description": "Search query by name or id.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TimeoutParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned a list of shared projects for the Neon account",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProjectsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationResponse"
                    }
                  ]
                },
                "example": {
                  "projects": [
                    {
                      "id": "shiny-wind-028834",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "shiny-wind-028834",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100
                    },
                    {
                      "id": "winter-boat-259881",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "winter-boat-259881",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:52:25Z",
                      "updated_at": "2022-11-23T17:52:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get project details",
        "description": "Retrieves information about the specified project.\nA project is the top-level object in the Neon object hierarchy.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getProject",
        "responses": {
          "200": {
            "description": "Returned information about the specified project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                },
                "example": {
                  "project": {
                    "id": "shiny-wind-028834",
                    "platform_id": "aws",
                    "region_id": "aws-us-east-2",
                    "name": "shiny-wind-028834",
                    "provisioner": "k8s-pod",
                    "pg_version": 15,
                    "history_retention_seconds": 604800,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:25Z",
                    "proxy_host": "us-east-2.aws.neon.tech",
                    "branch_logical_size_limit": 0,
                    "cpu_used_sec": 10,
                    "owner_id": "1232111",
                    "owner": {
                      "name": "John Smith",
                      "email": "some@email.com",
                      "branches_limit": 10,
                      "subscription_type": "scale"
                    },
                    "creation_source": "console",
                    "store_passwords": true,
                    "branch_logical_size_limit_bytes": 10500,
                    "data_storage_bytes_hour": 1040,
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "consumption_period_start": "2023-02-01T00:00:00Z",
                    "consumption_period_end": "2023-03-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "summary": "Update a project",
        "description": "Updates the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n",
        "tags": [
          "Project"
        ],
        "operationId": "updateProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              },
              "example": {
                "project": {
                  "name": "myproject"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated the specified project",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/OperationsResponse"
                    }
                  ]
                },
                "example": {
                  "operations": [],
                  "project": {
                    "id": "shiny-wind-028834",
                    "platform_id": "aws",
                    "region_id": "aws-us-east-2",
                    "name": "myproject",
                    "provisioner": "k8s-pod",
                    "pg_version": 15,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-12-04T02:39:25Z",
                    "proxy_host": "us-east-2.aws.neon.tech",
                    "branch_logical_size_limit": 0,
                    "cpu_used_sec": 213230,
                    "owner_id": "1232111",
                    "creation_source": "console",
                    "store_passwords": true,
                    "branch_logical_size_limit_bytes": 10500,
                    "data_storage_bytes_hour": 1040,
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "history_retention_seconds": 604800,
                    "consumption_period_start": "2023-02-01T00:00:00Z",
                    "consumption_period_end": "2023-03-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete a project",
        "description": "Deletes the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nDeleting a project is a permanent action.\nDeleting a project also deletes endpoints, branches, databases, and users that belong to the project.\n",
        "tags": [
          "Project"
        ],
        "operationId": "deleteProject",
        "responses": {
          "200": {
            "description": "Deleted the specified project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                },
                "example": {
                  "project": {
                    "id": "bold-cloud-468218",
                    "platform_id": "aws",
                    "region_id": "aws-us-east-2",
                    "name": "bold-cloud-468218",
                    "provisioner": "k8s-pod",
                    "pg_version": 15,
                    "created_at": "2022-11-30T18:41:29Z",
                    "updated_at": "2022-11-30T18:41:29Z",
                    "proxy_host": "us-east-2.aws.neon.tech",
                    "cpu_used_sec": 23004200,
                    "branch_logical_size_limit": 0,
                    "owner_id": "1232111",
                    "creation_source": "console",
                    "store_passwords": true,
                    "branch_logical_size_limit_bytes": 10500,
                    "data_storage_bytes_hour": 1040,
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "history_retention_seconds": 604800,
                    "consumption_period_start": "2023-02-01T00:00:00Z",
                    "consumption_period_end": "2023-03-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/operations": {
      "get": {
        "summary": "Get a list of operations",
        "description": "Retrieves a list of operations for the specified Neon project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nThe number of operations returned can be large.\nTo paginate the response, issue an initial request with a `limit` value.\nThen, add the `cursor` value that was returned in the response to the next request.\n",
        "tags": [
          "Operation"
        ],
        "operationId": "listProjectOperations",
        "parameters": [
          {
            "name": "cursor",
            "description": "Specify the cursor value from the previous response to get the next batch of operations",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Specify a value from 1 to 1000 to limit number of operations in the response",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The Neon project ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOperations"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/permissions": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List project access",
        "description": "Retrieves details about users who have access to the project, including the permission `id`, the granted-to email address, and the date project access was granted.",
        "tags": [
          "Project"
        ],
        "operationId": "listProjectPermissions",
        "responses": {
          "200": {
            "description": "Returned project access details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPermissions"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Grant project access",
        "description": "Grants project access to the account associated with the specified email address",
        "tags": [
          "Project"
        ],
        "operationId": "grantPermissionToProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantPermissionToProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Granted project access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPermission"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/permissions/{permission_id}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "permission_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Revoke project access",
        "description": "Revokes project access from the user associated with the specified permission `id`. You can retrieve a user's permission `id` by listing project access.",
        "tags": [
          "Project"
        ],
        "operationId": "revokePermissionFromProject",
        "responses": {
          "200": {
            "description": "Revoked project access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPermission"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/jwks": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Returns all available JWKS URLs for a project",
        "description": "Returns all the available JWKS URLs that can be used for verifying JWTs used as the authentication mechanism for the specified project.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getProjectJWKS",
        "responses": {
          "200": {
            "description": "The JWKS URLs available for the project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectJWKSResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Adds a JWKS URL to a project",
        "description": "Add a new JWKS URL to a project, such that it can be used for verifying JWTs used as the authentication mechanism for the specified project.\n\nThe URL must be a valid HTTPS URL that returns a JSON Web Key Set.\n\nThe `provider_name` field allows you to specify which authentication provider you're using (e.g., Clerk, Auth0, AWS Cognito, etc.).\n\nThe `branch_id` can be used to specify on which branches the JWKS URL will be accepted. If not specified, then it will work on any branch.\n\nThe `role_names` can be used to specify for which roles the JWKS URL will be accepted.\n\nThe `jwt_audience` can be used to specify which \"aud\" values should be accepted by Neon in the JWTs that are used for authentication.\n",
        "tags": [
          "Project"
        ],
        "operationId": "addProjectJWKS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProjectJWKSRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The JWKS URL was added to the project's authentication connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWKSCreationOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/jwks/{jwks_id}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "jwks_id",
          "in": "path",
          "description": "The JWKS ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Delete a JWKS URL",
        "description": "Deletes a JWKS URL from the specified project",
        "tags": [
          "Project"
        ],
        "operationId": "deleteProjectJWKS",
        "responses": {
          "200": {
            "description": "Deleted a JWKS URL from the project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWKS"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/connection_uri": {
      "get": {
        "summary": "Get a connection URI",
        "description": "Retrieves a connection URI for the specified database.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `database_name` by listing the databases for a branch.\nYou can obtain a `role_name` by listing the roles for a branch.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getConnectionURI",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The Neon project ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "branch_id",
            "in": "query",
            "description": "The branch ID. Defaults to your project's default `branch_id` if not specified.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "endpoint_id",
            "in": "query",
            "description": "The endpoint ID. Defaults to the read-write `endpoint_id` associated with the `branch_id` if not specified.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "database_name",
            "in": "query",
            "description": "The database name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_name",
            "in": "query",
            "description": "The role name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pooled",
            "in": "query",
            "description": "Adds the `-pooler` option to the connection URI when set to `true`, creating a pooled connection URI.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned the connection URI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionURIResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "post": {
        "summary": "Create a branch",
        "description": "Creates a branch in the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n\nThis method does not require a request body, but you can specify one to create a compute endpoint for the branch or to select a non-default parent branch.\nThe default behavior is to create a branch from the project's default branch with no compute endpoint, and the branch name is auto-generated.\nThere is a maximum of one read-write endpoint per branch.\nA branch can have multiple read-only endpoints.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "createProjectBranch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BranchCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/AnnotationCreateValueRequest"
                  }
                ]
              },
              "examples": {
                "branch_only": {
                  "summary": "Branch only",
                  "value": {
                    "branch": {
                      "parent_id": "br-aged-salad-637688",
                      "name": "mybranch"
                    }
                  }
                },
                "branch_with_endpoint": {
                  "summary": "Branch with endpoint",
                  "value": {
                    "endpoints": [
                      {
                        "type": "read_write"
                      }
                    ],
                    "branch": {
                      "parent_id": "br-aged-salad-637688",
                      "name": "mybranch"
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreatedBranch"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "get": {
        "summary": "Get a list of branches",
        "description": "Retrieves a list of branches for the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n\nEach Neon project has a root branch named `main`.\nA `branch_id` value has a `br-` prefix.\nA project may contain child branches that were branched from `main` or from another branch.\nA parent branch is identified by the `parent_id` value, which is the `id` of the parent branch.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "listProjectBranches",
        "parameters": [
          {
            "name": "search",
            "description": "Search by branch `name` or `id`. You can specify partial `name` or `id` values to filter results.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "description": "Sort the branches by sort_field. If not provided, branches will be sorted by updated_at descending order",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "updated_at",
              "enum": [
                "name",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned a list of branches for the specified project",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BranchesResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnnotationsMapResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CursorPaginationResponse"
                    }
                  ]
                },
                "example": {
                  "branches": [
                    {
                      "id": "br-aged-salad-637688",
                      "project_id": "shiny-wind-028834",
                      "name": "main",
                      "current_state": "ready",
                      "state_changed_at": "2022-11-30T20:09:48Z",
                      "logical_size": 28,
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:26Z",
                      "data_transfer_bytes": 1000000,
                      "written_data_bytes": 100800,
                      "compute_time_seconds": 100,
                      "active_time_seconds": 100,
                      "cpu_used_sec": 100,
                      "default": true,
                      "protected": false,
                      "creation_source": "console"
                    },
                    {
                      "id": "br-sweet-breeze-497520",
                      "project_id": "shiny-wind-028834",
                      "parent_id": "br-aged-salad-637688",
                      "parent_lsn": "0/1DE2850",
                      "name": "dev2",
                      "current_state": "ready",
                      "state_changed_at": "2022-11-30T20:09:48Z",
                      "logical_size": 28,
                      "created_at": "2022-11-30T19:09:48Z",
                      "updated_at": "2022-11-30T19:09:49Z",
                      "data_transfer_bytes": 1000000,
                      "written_data_bytes": 100800,
                      "compute_time_seconds": 100,
                      "active_time_seconds": 100,
                      "cpu_used_sec": 100,
                      "default": true,
                      "protected": false,
                      "creation_source": "console"
                    },
                    {
                      "id": "br-raspy-hill-832856",
                      "project_id": "shiny-wind-028834",
                      "parent_id": "br-aged-salad-637688",
                      "parent_lsn": "0/19623D8",
                      "name": "dev1",
                      "current_state": "ready",
                      "state_changed_at": "2022-11-30T20:09:48Z",
                      "logical_size": 21,
                      "created_at": "2022-11-30T17:36:57Z",
                      "updated_at": "2022-11-30T17:36:57Z",
                      "data_transfer_bytes": 1000000,
                      "written_data_bytes": 100800,
                      "compute_time_seconds": 100,
                      "active_time_seconds": 100,
                      "cpu_used_sec": 100,
                      "default": true,
                      "protected": false,
                      "creation_source": "console"
                    }
                  ],
                  "annotations": {
                    "br-aged-salad-637688": {
                      "object": {
                        "type": "console/branch",
                        "id": "br-aged-salad-637688"
                      },
                      "value": {
                        "vercel-commit-ref": "test"
                      },
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:26Z"
                    }
                  },
                  "pagination": {
                    "next": "eyJjcmVhdGV",
                    "sort_by": "updated_at",
                    "sort_order": "desc"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/count": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get the total number of branches in a project",
        "description": "Retrieves the total number of branches in the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n",
        "tags": [
          "Branch"
        ],
        "operationId": "countProjectBranches",
        "parameters": [
          {
            "name": "search",
            "description": "Count branches matching the `name` in search query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "$ref": "#/components/responses/GeneralError"
          },
          "200": {
            "description": "Returned a count of branches for the specified project",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BranchesCountResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get branch details",
        "description": "Retrieves information about the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain a `branch_id` by listing the project's branches.\nA `branch_id` value has a `br-` prefix.\n\nEach Neon project is initially created with a root and default branch named `main`.\nA project can contain one or more branches.\nA parent branch is identified by a `parent_id` value, which is the `id` of the parent branch.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "getProjectBranch",
        "responses": {
          "200": {
            "description": "Returned information about the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BranchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnnotationResponse"
                    }
                  ]
                },
                "example": {
                  "branch": {
                    "id": "br-aged-salad-637688",
                    "project_id": "shiny-wind-028834",
                    "name": "main",
                    "current_state": "ready",
                    "state_changed_at": "2022-11-30T20:09:48Z",
                    "logical_size": 28,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:26Z",
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "cpu_used_sec": 100,
                    "default": true,
                    "protected": false,
                    "creation_source": "console"
                  },
                  "annotation": {
                    "object": {
                      "type": "console/branch",
                      "id": "br-aged-salad-637688"
                    },
                    "value": {
                      "vercel-commit-ref": "test"
                    },
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:26Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete a branch",
        "description": "Deletes the specified branch from a project, and places\nall compute endpoints into an idle state, breaking existing client connections.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain a `branch_id` by listing the project's branches.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n\nWhen a successful response status is received, the compute endpoints are still active,\nand the branch is not yet deleted from storage.\nThe deletion occurs after all operations finish.\nYou cannot delete a project's root or default branch, and you cannot delete a branch that has a child branch.\nA project must have at least one branch.\n",
        "tags": [
          "Branch"
        ],
        "operationId": "deleteProjectBranch",
        "responses": {
          "200": {
            "description": "Deleted the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOperations"
                },
                "example": {
                  "branch": {
                    "id": "br-aged-salad-637688",
                    "project_id": "shiny-wind-028834",
                    "name": "main",
                    "current_state": "ready",
                    "state_changed_at": "2022-11-30T20:09:48Z",
                    "logical_size": 28,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:26Z",
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "cpu_used_sec": 100,
                    "default": true,
                    "protected": false,
                    "creation_source": "console"
                  },
                  "operations": [
                    {
                      "id": "b6afbc21-2990-4a76-980b-b57d8c2948f2",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-sweet-breeze-497520",
                      "endpoint_id": "ep-soft-violet-752733",
                      "action": "suspend_compute",
                      "status": "running",
                      "failures_count": 0,
                      "created_at": "2022-12-01T19:53:05Z",
                      "updated_at": "2022-12-01T19:53:05Z",
                      "total_duration_ms": 100
                    },
                    {
                      "id": "b6afbc21-2990-4a76-980b-b57d8c2948f2",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-sweet-breeze-497520",
                      "action": "delete_timeline",
                      "status": "scheduling",
                      "failures_count": 0,
                      "created_at": "2022-12-01T19:53:05Z",
                      "updated_at": "2022-12-01T19:53:05Z",
                      "total_duration_ms": 100
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "Returned if the branch doesn't exist or has already been deleted"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Branch"
        ],
        "summary": "Update a branch",
        "description": "Updates the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor more information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
        "operationId": "updateProjectBranch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchUpdateRequest"
              },
              "example": {
                "branch": {
                  "name": "mybranch"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOperations"
                },
                "example": {
                  "branch": {
                    "id": "br-icy-dream-250089",
                    "project_id": "shiny-wind-028834",
                    "parent_id": "br-aged-salad-637688",
                    "parent_lsn": "0/1E19478",
                    "name": "mybranch",
                    "current_state": "ready",
                    "state_changed_at": "2022-11-30T20:09:48Z",
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:26Z",
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "cpu_used_sec": 100,
                    "default": true,
                    "protected": false,
                    "creation_source": "console"
                  },
                  "operations": []
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/restore": {
      "post": {
        "tags": [
          "Branch"
        ],
        "summary": "Restore a branch",
        "description": "Restores a branch to an earlier state in its own or another branch's history",
        "operationId": "restoreProjectBranch",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The Neon project ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "description": "The branch ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchRestoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOperations"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/schema": {
      "get": {
        "tags": [
          "Branch"
        ],
        "summary": "Get the database schema",
        "description": "Retrieves the schema from the specified database. The `lsn` and `timestamp` values cannot be specified at the same time. If both are omitted, the database schema is retrieved from database's head.",
        "operationId": "getProjectBranchSchema",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The Neon project ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "description": "The branch ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "db_name",
            "in": "query",
            "description": "Name of the database for which the schema is retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lsn",
            "in": "query",
            "description": "The Log Sequence Number (LSN) for which the schema is retrieved\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "The point in time for which the schema is retrieved\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-11-30T20:09:48Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchSchemaResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/compare_schema": {
      "get": {
        "tags": [
          "Branch"
        ],
        "summary": "Compare the database schema with another branch's schema",
        "description": "Compares the schema from the specified database with another branch's schema. Hidden from the public spec.",
        "operationId": "getProjectBranchSchemaComparison",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The Neon project ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "description": "The branch ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "base_branch_id",
            "in": "query",
            "description": "The branch ID to compare the schema with",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "db_name",
            "in": "query",
            "description": "Name of the database for which the schema is retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lsn",
            "in": "query",
            "description": "The Log Sequence Number (LSN) for which the schema is retrieved\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "The point in time for which the schema is retrieved\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-11-30T20:09:48Z"
            }
          },
          {
            "name": "base_lsn",
            "in": "query",
            "description": "The Log Sequence Number (LSN) for the base branch schema\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base_timestamp",
            "in": "query",
            "description": "The point in time for the base branch schema\n",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-11-30T20:09:48Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Difference between the schemas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchSchemaCompareResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/set_as_default": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "post": {
        "tags": [
          "Branch"
        ],
        "summary": "Set branch as default",
        "description": "Sets the specified branch as the project's default branch.\nThe default designation is automatically removed from the previous default branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor more information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
        "operationId": "setDefaultProjectBranch",
        "responses": {
          "200": {
            "description": "Updated the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOperations"
                },
                "example": {
                  "branch": {
                    "cpu_used_sec": 1,
                    "active_time_seconds": 1,
                    "compute_time_seconds": 1,
                    "written_data_bytes": 100,
                    "data_transfer_bytes": 100,
                    "id": "br-icy-dream-250089",
                    "project_id": "shiny-wind-028834",
                    "parent_id": "br-aged-salad-637688",
                    "parent_lsn": "0/1E19478",
                    "name": "mybranch",
                    "current_state": "ready",
                    "state_changed_at": "2022-11-30T20:09:48Z",
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:26Z",
                    "default": true,
                    "protected": false,
                    "creation_source": "console"
                  },
                  "operations": []
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/endpoints": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get a list of branch endpoints",
        "description": "Retrieves a list of compute endpoints for the specified branch.\nNeon permits only one read-write compute endpoint per branch.\nA branch can have multiple read-only compute endpoints.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\n",
        "tags": [
          "Branch"
        ],
        "operationId": "listProjectBranchEndpoints",
        "responses": {
          "200": {
            "description": "Returned a list of endpoints for the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointsResponse"
                },
                "example": {
                  "endpoints": [
                    {
                      "host": "ep-little-smoke-851426.us-east-2.aws.neon.tech",
                      "id": "ep-little-smoke-851426",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-aged-salad-637688",
                      "autoscaling_limit_min_cu": 1,
                      "autoscaling_limit_max_cu": 1,
                      "region_id": "aws-us-east-2",
                      "type": "read_write",
                      "current_state": "idle",
                      "settings": {
                        "pg_settings": {}
                      },
                      "pooler_enabled": false,
                      "pooler_mode": "transaction",
                      "disabled": false,
                      "passwordless_access": true,
                      "last_active": "2022-11-23T17:00:00Z",
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-30T18:25:21Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "creation_source": "console",
                      "provisioner": "k8s-pod",
                      "suspend_timeout_seconds": 10800
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/databases": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get a list of databases",
        "description": "Retrieves a list of databases for the specified branch.\nA branch can have multiple databases.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "listProjectBranchDatabases",
        "responses": {
          "200": {
            "description": "Returned a list of databases of the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabasesResponse"
                },
                "example": {
                  "databases": [
                    {
                      "id": 834686,
                      "branch_id": "br-aged-salad-637688",
                      "name": "main",
                      "owner_name": "casey",
                      "created_at": "2022-11-30T18:25:15Z",
                      "updated_at": "2022-11-30T18:25:15Z"
                    },
                    {
                      "id": 834686,
                      "branch_id": "br-aged-salad-637688",
                      "name": "mydb",
                      "owner_name": "casey",
                      "created_at": "2022-10-30T17:14:13Z",
                      "updated_at": "2022-10-30T17:14:13Z"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Branch"
        ],
        "summary": "Create a database",
        "description": "Creates a database in the specified branch.\nA branch can have multiple databases.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
        "operationId": "createProjectBranchDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseCreateRequest"
              },
              "example": {
                "database": {
                  "name": "mydb",
                  "owner_name": "casey"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created a database in the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseOperations"
                },
                "example": {
                  "database": {
                    "id": 876692,
                    "branch_id": "br-aged-salad-637688",
                    "name": "mydb",
                    "owner_name": "casey",
                    "created_at": "2022-12-04T00:15:04Z",
                    "updated_at": "2022-12-04T00:15:04Z"
                  },
                  "operations": [
                    {
                      "id": "39426015-db00-40fa-85c5-1c7072df46d0",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-aged-salad-637688",
                      "endpoint_id": "ep-little-smoke-851426",
                      "action": "apply_config",
                      "status": "running",
                      "failures_count": 0,
                      "created_at": "2022-12-04T00:15:04Z",
                      "updated_at": "2022-12-04T00:15:04Z",
                      "total_duration_ms": 100
                    },
                    {
                      "id": "b7483d4e-33da-4d40-b319-ac858d4d3e69",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-aged-salad-637688",
                      "endpoint_id": "ep-little-smoke-851426",
                      "action": "suspend_compute",
                      "status": "scheduling",
                      "failures_count": 0,
                      "created_at": "2022-12-04T00:15:04Z",
                      "updated_at": "2022-12-04T00:15:04Z",
                      "total_duration_ms": 100
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/databases/{database_name}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "database_name",
          "in": "path",
          "description": "The database name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get database details",
        "description": "Retrieves information about the specified database.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` and `database_name` by listing the branch's databases.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "getProjectBranchDatabase",
        "responses": {
          "200": {
            "description": "Returned the database details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseResponse"
                },
                "example": {
                  "database": {
                    "id": 834686,
                    "branch_id": "br-aged-salad-637688",
                    "name": "main",
                    "owner_name": "casey",
                    "created_at": "2022-11-30T18:25:15Z",
                    "updated_at": "2022-11-30T18:25:15Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Branch"
        ],
        "summary": "Update a database",
        "description": "Updates the specified database in the branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` and `database_name` by listing the branch's databases.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
        "operationId": "updateProjectBranchDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseUpdateRequest"
              },
              "example": {
                "database": {
                  "name": "mydb",
                  "owner_name": "sally"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated the database",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseOperations"
                },
                "example": {
                  "database": {
                    "id": 876692,
                    "branch_id": "br-aged-salad-637688",
                    "name": "mydb",
                    "owner_name": "sally",
                    "created_at": "2022-12-04T00:15:04Z",
                    "updated_at": "2022-12-04T00:15:04Z"
                  },
                  "operations": [
                    {
                      "id": "9ef1c2ed-dce4-43aa-bae8-78aea636bf8a",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-aged-salad-637688",
                      "endpoint_id": "ep-little-smoke-851426",
                      "action": "apply_config",
                      "status": "running",
                      "failures_count": 0,
                      "created_at": "2022-12-04T00:21:01Z",
                      "updated_at": "2022-12-04T00:21:01Z",
                      "total_duration_ms": 100
                    },
                    {
                      "id": "42dafb46-f861-497b-ae89-f2bec54f4966",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-aged-salad-637688",
                      "endpoint_id": "ep-little-smoke-851426",
                      "action": "suspend_compute",
                      "status": "scheduling",
                      "failures_count": 0,
                      "created_at": "2022-12-04T00:21:01Z",
                      "updated_at": "2022-12-04T00:21:01Z",
                      "total_duration_ms": 100
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete a database",
        "description": "Deletes the specified database from the branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` and `database_name` by listing the branch's databases.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "deleteProjectBranchDatabase",
        "responses": {
          "200": {
            "description": "Deleted the specified database",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseOperations"
                },
                "example": {
                  "database": {
                    "id": 851537,
                    "branch_id": "br-raspy-hill-832856",
                    "name": "mydb",
                    "owner_name": "casey",
                    "created_at": "2022-12-01T19:41:46Z",
                    "updated_at": "2022-12-01T19:41:46Z"
                  },
                  "operations": [
                    {
                      "id": "9ef1c2ed-dce4-43aa-bae8-78aea636bf8a",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-raspy-hill-832856",
                      "endpoint_id": "ep-steep-bush-777093",
                      "action": "apply_config",
                      "status": "running",
                      "failures_count": 0,
                      "created_at": "2022-12-01T19:51:41Z",
                      "updated_at": "2022-12-01T19:51:41Z",
                      "total_duration_ms": 100
                    },
                    {
                      "id": "42dafb46-f861-497b-ae89-f2bec54f4966",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-raspy-hill-832856",
                      "endpoint_id": "ep-steep-bush-777093",
                      "action": "suspend_compute",
                      "status": "scheduling",
                      "failures_count": 0,
                      "created_at": "2022-12-01T19:51:41Z",
                      "updated_at": "2022-12-01T19:51:41Z",
                      "total_duration_ms": 100
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "Returned if the database doesn't exist or has already been deleted"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/roles": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get a list of roles",
        "description": "Retrieves a list of Postgres roles from the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor related information, see [Manage roles](https://neon.tech/docs/manage/roles/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "listProjectBranchRoles",
        "responses": {
          "200": {
            "description": "Returned a list of roles from the specified branch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolesResponse"
                },
                "example": {
                  "roles": [
                    {
                      "branch_id": "br-aged-salad-637688",
                      "name": "casey",
                      "protected": false,
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:25Z"
                    },
                    {
                      "branch_id": "br-aged-salad-637688",
                      "name": "thomas",
                      "protected": false,
                      "created_at": "2022-10-22T17:38:21Z",
                      "updated_at": "2022-10-22T17:38:21Z"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Create a role",
        "description": "Creates a Postgres role in the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor related information, see [Manage roles](https://neon.tech/docs/manage/roles/).\n\nConnections established to the active compute endpoint will be dropped.\nIf the compute endpoint is idle, the endpoint becomes active for a short period of time and is suspended afterward.\n",
        "tags": [
          "Branch"
        ],
        "operationId": "createProjectBranchRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCreateRequest"
              },
              "example": {
                "role": {
                  "name": "sally"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created a role in the specified branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleOperations"
                },
                "example": {
                  "role": {
                    "branch_id": "br-noisy-sunset-458773",
                    "name": "sally",
                    "password": "Onf1AjayKwe0",
                    "protected": false,
                    "created_at": "2022-12-03T11:58:29Z",
                    "updated_at": "2022-12-03T11:58:29Z"
                  },
                  "operations": [
                    {
                      "id": "2c2be371-d5ac-4db5-8b68-79f05e8bc287",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-noisy-sunset-458773",
                      "endpoint_id": "ep-small-pine-767857",
                      "action": "apply_config",
                      "status": "running",
                      "failures_count": 0,
                      "created_at": "2022-12-03T11:58:29Z",
                      "updated_at": "2022-12-03T11:58:29Z",
                      "total_duration_ms": 100
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/roles/{role_name}": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "role_name",
          "in": "path",
          "description": "The role name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get role details",
        "description": "Retrieves details about the specified role.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Manage roles](https://neon.tech/docs/manage/roles/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "getProjectBranchRole",
        "responses": {
          "200": {
            "description": "Returned details for the specified role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                },
                "example": {
                  "role": {
                    "branch_id": "br-noisy-sunset-458773",
                    "name": "casey",
                    "protected": false,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:25Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete a role",
        "description": "Deletes the specified Postgres role from the branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nFor related information, see [Manage roles](https://neon.tech/docs/manage/roles/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "deleteProjectBranchRole",
        "responses": {
          "200": {
            "description": "Deleted the specified role from the branch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleOperations"
                },
                "example": {
                  "role": {
                    "branch_id": "br-raspy-hill-832856",
                    "name": "thomas",
                    "protected": false,
                    "created_at": "2022-12-01T14:36:23Z",
                    "updated_at": "2022-12-01T14:36:23Z"
                  },
                  "operations": [
                    {
                      "id": "db646be3-eace-4910-9f60-8150823c5cb8",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-raspy-hill-832856",
                      "endpoint_id": "ep-steep-bush-777093",
                      "action": "apply_config",
                      "status": "running",
                      "failures_count": 0,
                      "created_at": "2022-12-01T19:48:11Z",
                      "updated_at": "2022-12-01T19:48:11Z",
                      "total_duration_ms": 100
                    },
                    {
                      "id": "ab94cdad-7630-4943-a55e-5a0952d2e598",
                      "project_id": "shiny-wind-028834",
                      "branch_id": "br-raspy-hill-832856",
                      "endpoint_id": "ep-steep-bush-777093",
                      "action": "suspend_compute",
                      "status": "scheduling",
                      "failures_count": 0,
                      "created_at": "2022-12-01T19:48:11Z",
                      "updated_at": "2022-12-01T19:48:11Z",
                      "total_duration_ms": 100
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "Returned if the role doesn't exist or has already been deleted"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/roles/{role_name}/reveal_password": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "role_name",
          "in": "path",
          "description": "The role name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get role password",
        "description": "Retrieves the password for the specified Postgres role, if possible.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nFor related information, see [Manage roles](https://neon.tech/docs/manage/roles/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "getProjectBranchRolePassword",
        "responses": {
          "200": {
            "description": "Returned password for the specified role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolePasswordResponse"
                },
                "example": {
                  "password": "mypass"
                }
              }
            }
          },
          "404": {
            "description": "Role not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "412": {
            "description": "Storing passwords is disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/projects/{project_id}/branches/{branch_id}/roles/{role_name}/reset_password": {
      "parameters": [
        {
          "name": "project_id",
          "in": "path",
          "description": "The Neon project ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "branch_id",
          "in": "path",
          "description": "The branch ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "role_name",
          "in": "path",
          "description": "The role name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Reset the role password",
        "description": "Resets the password for the specified Postgres role.\nReturns a new password and operations. The new password is ready to use when the last operation finishes.\nThe old password remains valid until last operation finishes.\nConnections to the compute endpoint are dropped. If idle,\nthe compute endpoint becomes active for a short period of time.\n\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nFor related information, see [Manage roles](https://neon.tech/docs/manage/roles/).\n",
        "tags": [
          "Branch"
        ],
        "operationId": "resetProjectBranchRolePassword",
        "responses": {
          "200": {
            "description": "Reset the password for the specified role",
            "content": {
              "application/json": {
                "schema": {
[...]
