name: API Changes

on:
  pull_request:
    paths:
    - singer_sdk/**
    - .github/workflows/api-changes.yml
    - CHANGELOG.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  check-api-changes:
    name: Check API Changes
    runs-on: ubuntu-latest
    env:
      NOXSESSION: api
    steps:
    - name: Check out the repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: 3.x

    - uses: astral-sh/setup-uv@6b9c6063abd6010835644d4c2e1bef4cf5cd0fca # v6.0.1
      with:
        version: ">=0.6,<0.7"

    - name: Install tools
      run: |
        uv tool install nox
        uv tool list

    - name: Set REF
      id: set-ref
      if: always() && !startsWith(github.head_ref, 'release/')
      run: |
        echo "ref=${{ github.event.pull_request.base.sha }}" >> $GITHUB_OUTPUT

    # Check API against the latest commit on the base branch
    - name: Run Nox  # zizmor: ignore[template-injection]
      run: |
        nox -- ${{ steps.set-ref.outputs.ref }}
