name: API Changes

on:
  pull_request:
    paths:
    - singer_sdk/**
    - .github/workflows/api-changes.yml
    - CHANGELOG.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  check-api-changes:
    name: Check API Changes
    runs-on: ubuntu-latest
    env:
      NOXSESSION: api
    steps:
    - name: Check out the repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        version: ">=0.8,<0.9"

    - name: Install tools
      run: |
        uv tool install nox
        uv tool list

    - name: Set REF
      id: set-ref
      if: always() && !startsWith(github.head_ref, 'release/')
      env:
        GIT_REF: ${{ github.event.pull_request.base.sha }}
      run: |
        echo "ref=${GIT_REF}" >> $GITHUB_OUTPUT

    # Check API against the latest commit on the base branch
    - name: Run Nox  # zizmor: ignore[template-injection]
      run: |
        nox -- ${{ steps.set-ref.outputs.ref }}
