name: API Changes

on:
  pull_request:
    paths:
    - singer_sdk/**
    - .github/workflows/api-changes.yml
    - CHANGELOG.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt
  UV_VERSION: ">=0.9,<0.10"

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  check-api-changes:
    name: Check API Changes
    runs-on: ubuntu-latest
    env:
      NOXSESSION: api
    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install tools
      run: |
        uv tool install nox
        uv tool list

    - name: Set REF
      id: set-ref
      if: always() && !startsWith(github.head_ref, 'release/')
      env:
        GIT_REF: ${{ github.event.pull_request.base.sha }}
      run: |
        echo "ref=${GIT_REF}" >> $GITHUB_OUTPUT

    # Check API against the latest commit on the base branch
    - name: Run Nox
      run: |
        nox -- ${STEPS_SET_REF_OUTPUTS_REF}
      env:
        STEPS_SET_REF_OUTPUTS_REF: ${{ steps.set-ref.outputs.ref }}
