name: codspeed

on:
  push:
    branches:
      - "main"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repository
      uses: actions/checkout@v4.1.1

    - name: Setup Python
      uses: actions/setup-python@v4.7.1
      with:
        python-version: 3.11
        architecture: x64

    - name: Install poetry
      run: |
        curl -fsS https://install.python-poetry.org | python - -y

    - name: Configure poetry
      run: poetry config virtualenvs.create false

    - name: Install project
      run: >
        poetry install
        -vvv
        --with dev
        --with benchmark
        --all-extras

    - name: Run benchmarks
      uses: CodSpeedHQ/action@v2
      with:
        token: ${{ secrets.CODSPEED_TOKEN }}
        run: pytest tests/ --codspeed
