pip==24.1.2
poetry @ git+https://github.com/radoering/poetry.git@lock-markers-and-groups3a
poetry-plugin-export @ git+https://github.com/radoering/poetry-export-plugin.git@dependency-walk-failed
poetry-dynamic-versioning==1.4.0
pre-commit==3.7.1
nox==2024.4.15
nox-poetry==1.0.3
