name: E2E Cookiecutters

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - noxfile.py
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
    - ".github/workflows/resources/requirements.txt"
  push:
    branches:
    - main
    - v*
    paths:
    - noxfile.py
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
    - ".github/workflows/resources/requirements.txt"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt
  UV_VERSION: ">=0.9,<0.10"

permissions: {}

jobs:
  lint:
    name: Cookiecutter E2E Python
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        version: ${{ env.UV_VERSION }}
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox --session=templates

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: always()
      with:
        include-hidden-files: true
        name: cookiecutter-ubuntu-latest-py3x
        path: |
          cookiecutter-output/tap-*
          cookiecutter-output/target-*
          cookiecutter-output/mapper-*
          !cookiecutter-output/tap-*/.git/
          !cookiecutter-output/target-*/.git/
          !cookiecutter-output/mapper-*/.git/
          !cookiecutter-output/tap-*/.mypy_cache/
          !cookiecutter-output/target-*/.mypy_cache/
          !cookiecutter-output/mapper-*/.mypy_cache/
          !cookiecutter-output/tap-*/.ruff_cache/
          !cookiecutter-output/target-*/.ruff_cache/
          !cookiecutter-output/mapper-*/.ruff_cache/
          !cookiecutter-output/tap-*/.venv/
          !cookiecutter-output/target-*/.venv/
          !cookiecutter-output/mapper-*/.venv/
          !cookiecutter-output/tap-*/.tox/
          !cookiecutter-output/target-*/.tox/
          !cookiecutter-output/mapper-*/.tox/
