name: E2E Cookiecutters

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
  push:
    branches: [main]
    paths:
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"

jobs:
  lint:
    name: Cookiecutter E2E Python ${{ matrix.python-version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - { python-version: "3.12",  os: "ubuntu-latest" }

    steps:
    - uses: actions/checkout@v4
    - name: Upgrade pip
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install poetry
        pipx inject poetry poetry-plugin-export
        poetry --version
        poetry self show plugins

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: 'pip'
        cache-dependency-path: 'poetry.lock'

    - name: Install pre-commit
      run: |
        pipx install pre-commit
        pre-commit --version

    - name: Install Nox
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install nox
        nox --version

    - name: Run Nox
      run: |
        nox --python=${{ matrix.python-version }} --session=test_cookiecutter

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: cookiecutter-${{ matrix.os }}-py${{ matrix.python-version }}
        path: |
          /tmp/tap-*
          /tmp/target-*
          /tmp/mapper-*
          !/tmp/tap-*/.mypy_cache/
          !/tmp/target-*/.mypy_cache/
          !/tmp/mapper-*/.mypy_cache/
          !/tmp/tap-*/.tox/
          !/tmp/target-*/.tox/
          !/tmp/mapper-*/.tox/
