name: E2E Cookiecutters

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - noxfile.py
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
    - ".github/workflows/resources/requirements.txt"
  push:
    branches:
    - main
    - v*
    paths:
    - noxfile.py
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
    - ".github/workflows/resources/requirements.txt"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt

permissions: {}

jobs:
  lint:
    name: Cookiecutter E2E Python
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      with:
        python-version: 3.x

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox --session=templates

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      with:
        name: cookiecutter-ubuntu-latest-py3x
        path: |
          /tmp/tap-*
          /tmp/target-*
          /tmp/mapper-*
          !/tmp/tap-*/.mypy_cache/
          !/tmp/target-*/.mypy_cache/
          !/tmp/mapper-*/.mypy_cache/
          !/tmp/tap-*/.tox/
          !/tmp/target-*/.tox/
          !/tmp/mapper-*/.tox/
