name: E2E Cookiecutters

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - noxfile.py
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
    - ".github/workflows/resources/requirements.txt"
  push:
    branches:
    - main
    - v*
    paths:
    - noxfile.py
    - "cookiecutter/**"
    - "e2e-tests/cookiecutters/**"
    - ".github/workflows/cookiecutter-e2e.yml"
    - ".github/workflows/resources/requirements.txt"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt
  UV_VERSION: ">=0.9,<0.10"

permissions: {}

jobs:
  lint:
    name: Cookiecutter E2E Python
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox --session=templates

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always()
      with:
        include-hidden-files: true
        name: cookiecutter-ubuntu-latest-py3x
        path: |
          cookiecutter-output/tap-*
          cookiecutter-output/target-*
          cookiecutter-output/mapper-*
          !cookiecutter-output/tap-*/.git/
          !cookiecutter-output/target-*/.git/
          !cookiecutter-output/mapper-*/.git/
          !cookiecutter-output/tap-*/.mypy_cache/
          !cookiecutter-output/target-*/.mypy_cache/
          !cookiecutter-output/mapper-*/.mypy_cache/
          !cookiecutter-output/tap-*/.ruff_cache/
          !cookiecutter-output/target-*/.ruff_cache/
          !cookiecutter-output/mapper-*/.ruff_cache/
          !cookiecutter-output/tap-*/.venv/
          !cookiecutter-output/target-*/.venv/
          !cookiecutter-output/mapper-*/.venv/
          !cookiecutter-output/tap-*/.tox/
          !cookiecutter-output/target-*/.tox/
          !cookiecutter-output/mapper-*/.tox/
