name: Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "samples/**"
      - "singer_sdk/**"
      - "tests/**"
      - "noxfile.py"
      - "pyproject.toml"
      - "uv.lock"
      - ".github/workflows/test.yml"
      - ".github/workflows/resources/requirements.txt"
  push:
    branches:
      - main
      - v*
    paths:
      - "samples/**"
      - "singer_sdk/**"
      - "tests/**"
      - "noxfile.py"
      - "pyproject.toml"
      - "uv.lock"
      - ".github/workflows/test.yml"
      - ".github/workflows/resources/requirements.txt"
  merge_group:
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt
  UV_VERSION: ">=0.8,<0.9"

permissions: {}

jobs:
  tests:
    name: "Test on ${{ matrix.python-version }} (${{ matrix.session }}) / ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    env:
      NOXFORCEPYTHON: ${{ matrix.python-version }}
      NOXSESSION: ${{ matrix.session }}
    permissions:
      contents: read
    outputs:
      os: ${{ matrix.os }}
      nox-session: ${{ matrix.session }}
      python-version: ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        session: [tests]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        include:
        - { session: doctest,       python-version: "3.14", os: "ubuntu-latest" }
        - { session: mypy,          python-version: "3.13", os: "ubuntu-latest" }
        - { session: mypy,          python-version: "3.10",  os: "ubuntu-latest" }
        - { session: deps,          python-version: "3.13", os: "ubuntu-latest" }
        - { session: test-lowest,   python-version: "3.10",  os: "ubuntu-latest" }
        - { session: test-contrib,  python-version: "3.10",  os: "ubuntu-latest" }
        - { session: test-contrib,  python-version: "3.13", os: "ubuntu-latest" }
        - { session: test-packages, python-version: "3.10",  os: "ubuntu-latest" }
        - { session: test-packages, python-version: "3.13", os: "ubuntu-latest" }

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@eb1897b8dc4b5d5bfe39a428a8f2304605e0983c # v7.0.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox --verbose

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always() && (matrix.session == 'tests' || matrix.session == 'test-contrib' || matrix.session == 'test-packages')
      with:
        include-hidden-files: true
        name: coverage-data-nox_${{ matrix.session }}-${{ matrix.os }}-py${{ matrix.python-version }}
        path: ".coverage.*"

  tests-external:
    name: External Tests
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    env:
      NOXSESSION: test-external
      TAP_GITLAB_AUTH_TOKEN: ${{ secrets.SAMPLE_TAP_GITLAB_AUTH_TOKEN }}
      TAP_GITLAB_GROUP_IDS: ${{ secrets.SAMPLE_TAP_GITLAB_GROUP_IDS }}
      TAP_GITLAB_PROJECT_IDS: ${{ secrets.SAMPLE_TAP_GITLAB_PROJECT_IDS }}
      TAP_GITLAB_START_DATE: "2022-01-01T00:00:00Z"

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: astral-sh/setup-uv@eb1897b8dc4b5d5bfe39a428a8f2304605e0983c # v7.0.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: tests
    env:
      NOXSESSION: coverage
    strategy:
      fail-fast: false
      matrix:
        include:
        - flag: core
          nox-session: tests
        - flag: optional-components
          nox-session: test-contrib
        - flag: end-to-end
          nox-session: test-packages
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        pattern: coverage-data-nox_${{ matrix.nox-session }}-*
        merge-multiple: true

    - uses: astral-sh/setup-uv@eb1897b8dc4b5d5bfe39a428a8f2304605e0983c # v7.0.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - run: nox --install-only

    - name: Combine coverage data and display human readable report
      run: |
        nox -r --no-install -- combine --debug=pathmap
        nox -r --no-install -- report --show-missing --ignore-errors

    - name: Create coverage report
      run: |
        nox -r --no-install -- xml

    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        fail_ci_if_error: true
        flags: ${{ matrix.flag }}
        token: ${{ secrets.CODECOV_TOKEN }}
