name: Test

on:
  pull_request:
    paths:
      - "packages/**"
      - "samples/**"
      - "singer_sdk/**"
      - "tests/**"
      - "noxfile.py"
      - "pyproject.toml"
      - "uv.lock"
      - ".github/workflows/test.yml"
      - ".github/workflows/resources/requirements.txt"
  push:
    branches:
      - main
      - v*
    paths:
      - "packages/**"
      - "samples/**"
      - "singer_sdk/**"
      - "tests/**"
      - "noxfile.py"
      - "pyproject.toml"
      - "uv.lock"
      - ".github/workflows/test.yml"
      - ".github/workflows/resources/requirements.txt"
  merge_group:
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/resources/requirements.txt
  UV_VERSION: ">=0.9,<0.10"

permissions: {}

jobs:
  tests:
    name: "Test on ${{ matrix.python-version }} (${{ matrix.session }}) / ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    env:
      NOXFORCEPYTHON: ${{ matrix.python-version }}
      NOXSESSION: ${{ matrix.session }}
    permissions:
      contents: read  # read repository contents
    outputs:
      os: ${{ matrix.os }}
      nox-session: ${{ matrix.session }}
      python-version: ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        session: [tests]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        - "3.15"
        include:
        - { session: doctest,       python-version: "3.14", os: "ubuntu-latest" }
        - { session: deps,          python-version: "3.14", os: "ubuntu-latest" }
        - { session: test-lowest,   python-version: "3.10",  os: "ubuntu-latest" }
        - { session: test-contrib,  python-version: "3.10",  os: "ubuntu-latest" }
        - { session: test-contrib,  python-version: "3.14", os: "ubuntu-latest" }
        - { session: test-packages, python-version: "3.10",  os: "ubuntu-latest" }
        - { session: test-packages, python-version: "3.14", os: "ubuntu-latest" }

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox --verbose

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always() && (matrix.session == 'tests' || matrix.session == 'test-contrib' || matrix.session == 'test-packages')
      with:
        include-hidden-files: true
        name: coverage-data-nox_${{ matrix.session }}-${{ matrix.os }}-py${{ matrix.python-version }}
        path: ".coverage.*"

  typing:
    name: Typing
    runs-on: ubuntu-latest
    needs: tests
    env:
      NOXFORCEPYTHON: ${{ matrix.python-version }}
    permissions:
      contents: read  # read repository contents
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.14"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}

      - name: Install Nox
        run: |
          uv tool install nox
          nox --version

      - name: Run Nox
        run: |
          nox --verbose --tags typing

  tests-external:
    name: External Tests
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    env:
      NOXSESSION: test-external
      TAP_GITLAB_AUTH_TOKEN: ${{ secrets.SAMPLE_TAP_GITLAB_AUTH_TOKEN }}
      TAP_GITLAB_GROUP_IDS: ${{ secrets.SAMPLE_TAP_GITLAB_GROUP_IDS }}
      TAP_GITLAB_PROJECT_IDS: ${{ secrets.SAMPLE_TAP_GITLAB_PROJECT_IDS }}
      TAP_GITLAB_START_DATE: "2022-01-01T00:00:00Z"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      run: |
        nox

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: tests
    env:
      NOXSESSION: coverage
    strategy:
      fail-fast: false
      matrix:
        include:
        - flag: core
          nox-session: tests
        - flag: optional-components
          nox-session: test-contrib
        - flag: end-to-end
          nox-session: test-packages
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: coverage-data-nox_${{ matrix.nox-session }}-*
        merge-multiple: true

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - run: nox --install-only

    - name: Combine coverage data and display human readable report
      run: |
        nox -r --no-install -- combine --debug=pathmap
        nox -r --no-install -- report --show-missing --ignore-errors

    - name: Create coverage report
      run: |
        nox -r --no-install -- xml

    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        fail_ci_if_error: true
        flags: ${{ matrix.flag }}
        token: ${{ secrets.CODECOV_TOKEN }}
