name: Version bump

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: "Run the action without creating a PR or release draft"
        required: true
        default: false
        type: boolean
      bump:
        description: "Version bump type"
        required: true
        type: choice
        default: auto
        options:
        - auto
        - patch
        - minor
        - major
      prerelease:
        description: "Increase to this prerelease version"
        required: false
        type: choice
        default: none
        options:
        - none
        - alpha
        - beta
        - rc

jobs:
  version_bump:
    name: Bump the package version
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    permissions:
      contents: write       # to create a github release
      pull-requests: write  # to create and update PRs

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

    - name: Bump version
      id: cz-bump
      uses: commitizen-tools/commitizen-action@2e8226b3e7e141ae28de9942957f267eb5d68fb6 # 0.27.0
      with:
        increment: ${{ github.event.inputs.bump != 'auto' && github.event.inputs.bump || '' }}
        prerelease: ${{ github.event.inputs.prerelease != 'none' && github.event.inputs.prerelease || '' }}
        commit: "false"
        push: "false"
        changelog: "true"
        github_token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
        extra_requirements: 'git+https://github.com/meltano/commitizen-version-bump@main'
        changelog_increment_filename: _changelog_fragment.md

    - name: Add job summary
      run: |
        cat _changelog_fragment.md >> $GITHUB_STEP_SUMMARY

    - name: Draft Release
      if: ${{ github.event.inputs.dry_run == 'false' }}
      id: draft-release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        draft: true
        body_path: _changelog_fragment.md
        tag_name: v${{ steps.cz-bump.outputs.version }}
        prerelease: ${{ github.event.inputs.prerelease != 'none' }}
        token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}

    - name: Set repo file permissions
      run: |
        sudo chown -R $USER:$USER .git/objects

    - name: Create Pull Request
      if: ${{ github.event.inputs.dry_run == 'false' }}
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      id: create-pull-request
      with:
        token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
        commit-message: "chore: Bump package version"
        title: "chore: Release v${{ steps.cz-bump.outputs.version }}"
        body: |
          Prepare MeltanoSDK `v${{ steps.cz-bump.outputs.version }}` for release.

          Checklist:

          - [ ] Check that the right version is set in all the files.
          - [ ] Groom the changelog for wording or missing entries.
          - [ ] Merge this PR once everything looks good.

          [Release Draft](${{ steps.draft-release.outputs.url }})
        branch: release/v${{ steps.cz-bump.outputs.version }}
        labels: release
        assignees: "${{ github.actor }}"
